{% include 'layouts/header.html' %}
<div style="margin-bottom: 6vh;">
    <div class="mx-auto d-flex flex-lg-row flex-column hero">
      <!-- Left Column -->
      <div
        class="left-column d-flex flex-lg-grow-1 flex-column align-items-lg-start text-lg-start align-items-center text-center">
        <h1 class="title-text-big">
            <a style="color: #27C499;"">ArtificialIfElse</a> <br><br class="d-lg-block d-none" />
            Mari Mulai Manfaatkan AI untuk Kehidupan Sehari-hari 
        </h1>
        <br>
        <!-- <p class="text-caption">ArtificialIfElse</p> -->
        <div class="d-flex flex-sm-row flex-column align-items-center mx-lg-0 mx-auto justify-content-center gap-3">
          <button class="btn d-inline-flex mb-md-0 btn-try text-white">
           <a href="https://youtu.be/gxRLh3CFsnQ" target="_blank" style="color: #fff; text-decoration: none;">Preview</a>
          </button>
          <button class="btn btn-outline">
            <a href="https://github.com/ArtificialIfElse/AIC-COMPFEST13/raw/main/Product/Siswa%20AI%20v1.0.apk" class="d-flex align-items-center btn btn-sm">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <rect width="24" height="24" fill="url(#pattern0)"/>
                <defs>
                <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
                <use xlink:href="#image0" transform="scale(0.0416667)"/>
                </pattern>
                <image id="image0" width="24" height="24" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAiElEQVRIie2UQQqAIBBFX90hqfvWBWvRVXJVGwcsNLTGhdSHAUV5T1QGvpIJsMDuygKjpsCHS22aAoHG5tG0mqf4BfUIOmDm/CVj8fesQJ8qDklC3/QRPCRZgeFmLRt+J1GDSwywOOByGZu3cMn1TVROHpMUgUsMitdSRxpvnNTfc9nFe1H9OQDMPjgyCnuv6wAAAABJRU5ErkJggg=="/>
                </defs>
              </svg>
              Download Apps
            </a>
          </button>
        </div>
      </div>
      <!-- Right Column -->
      <div class="right-column text-center d-flex justify-content-center pe-0">
        <img id="img-fluid" class="h-auto mw-100"
          src="{{ url_for('static', filename='container.png') }}"
          alt="" />
      </div>
    </div>
  </div>
</div>
<br>

</section>
<section class="h-100 w-100 bg-white" id="jump1" style="box-sizing: border-box">
    <div class="content-2-2 container-xxl mx-auto p-0  position-relative" style="font-family: 'Poppins', sans-serif">
    <div class="text-center title-text">
        <h1 class="text-title">Fitur Kami</h1>
        <p class="text-caption" style="margin-left: 3rem; margin-right: 3rem">
       Berikut teknologi AI yang siap kamu coba untuk melakukan prediksi dalam mengatasi keraguanmu
        </p>
    </div>

    <div class="grid-padding text-center">
        <div class="row">
        <div class="col-lg-4 column">
            <div class="icon">
            <img src="{{ url_for('static', filename='icon1.png') }}"
                alt="" />
            </div>
            <h3 class="icon-title">
              <a href="graduation" style="color: #121212; text-decoration: none;">Prediksi Predikat Kelulusan</a>
            </h3>
            <p class="icon-caption">
            Fitur ini dapat melakukan<br />
            prediksi predikat kelulusan<br>
            yang kamu peroleh
            </p>
        </div>
        <div class="col-lg-4 column">
            <div class="icon">
            <img src="{{ url_for('static', filename='icon2.png') }}"
                alt="" />
            </div>
            <h3 class="icon-title">
              <h3 class="icon-title">
                <a href="personality" style="color: #121212; text-decoration: none;">Tes Kepribadian</a>
              </h3>            </h3>
            <p class="icon-caption">
            Fitur ini berupa tes kepribadian<br />
            yang siap memandumu menentukan <br>
            jurusan perkuliahan yang <br> sesuai
            dengan karakteristikmu
            </p>
        </div>
        <div class="col-lg-4 column">
            <div class="icon">
            <img src="{{ url_for('static', filename='icon3.png') }}"
                alt="" />
            </div>
            <h3 class="icon-title">
              <a href="paper" style="color: #121212; text-decoration: none;">Prediksi Tema Paper</a>
            </h3>
            <p class="icon-caption">
            Fitur ini akan membantumu menemukan<br />
            tema paper tanpa perlu membacanya <br>
            secara keseluruhan
            </p>
        </div>
        </div>
    </div>

    <div class="card-block">
        <div class="card">
        <div class="d-flex flex-lg-row flex-column align-items-center">
            <div class="me-lg-3">
            <img
                src="{{ url_for('static', filename='icon4.png') }}"
                alt="" />
            </div>
            <div class="flex-grow-1 text-lg-start text-center card-text">
            <h3 class="card-title">
                Tertarik mencobanya dalam perangkat mobile
            </h3>
            <p class="card-caption">
                Kami memahami kini hampir setiap orang memiliki 
                perangkat<br class="d-none d-lg-block" />
                mobile untuk itu kami menghadirkan AI dalam perangkat <br>
                tersebut, tertarik mencobanya
            </p>
            </div>
            <div class="card-btn-space">
            <a href="https://github.com/ArtificialIfElse/AIC-COMPFEST13/raw/main/Product/Siswa%20AI%20v1.0.apk" class="btn btn-card text-white" style="margin-right: 20px;">Coba Sekarang</a>
            <!-- <button class="btn btn-outline">Download</button> -->
            </div>
        </div>
        </div>
    </div>
    </div>
</section>
{% include 'layouts/footer.html' %}