{% include 'layouts/header.html' %}
<section class="h-100 w-100 bg-white" style="box-sizing: border-box">
    <div class="content-2-2 container-xxl mx-auto p-0  position-relative" style="font-family: 'Poppins', sans-serif">
      <div class="text-center title-text">
        <h1 class="text-title">Tes Kelulusan Adalah bla bla bla</h1>
        <p class="text-caption" style="margin-left: 3rem; margin-right: 3rem">
          You can easily manage your business with a powerful tools
        </p>
      </div>

      <div class="grid-padding text-center">
        <div class="row">
          <div class="col-lg-4 column">
            <div class="icon">
              <img src="http://api.elements.buildwithangga.com/storage/files/2/assets/Content/Content2/Content-2-5.png"
                alt="" />
            </div>
            <h3 class="icon-title">Easy to Operate</h3>
            <p class="icon-caption">
              This can easily help you to<br />
              grow up your business fast
            </p>
          </div>
          <div class="col-lg-4 column">
            <div class="icon">
              <img src="http://api.elements.buildwithangga.com/storage/files/2/assets/Content/Content2/Content-2-6.png"
                alt="" />
            </div>
            <h3 class="icon-title">Real-Time Analytic</h3>
            <p class="icon-caption">
              With real-time analytics, you<br />
              can check data in real time
            </p>
          </div>
          <div class="col-lg-4 column">
            <div class="icon">
              <img src="http://api.elements.buildwithangga.com/storage/files/2/assets/Content/Content2/Content-2-7.png"
                alt="" />
            </div>
            <h3 class="icon-title">Very Full Secured</h3>
            <p class="icon-caption">
              With real-time analytics, we<br />
              will guarantee your data
            </p>
          </div>
        </div>
      </div>

      <div class="card-block">
        <div class="card">
          <div class="d-flex flex-lg-row flex-column align-items-center align-self-center">
            <div class="col text-center">
              <div class="row mb-2 pb-2">
                <h2>Saya Mengambil Program Kuliah Diploma</h2>
              </div>
              <div class="row">
                <a href="{{ url_for('graduation.graduation_diploma_three_semesters') }}" class="btn btn-card text-white">Saya Semester 3</a>
                <a href="{{ url_for('graduation.graduation_diploma_four_semesters') }}" class="btn btn-card text-white">Saya Semester 4</a>
                <a href="{{ url_for('graduation.graduation_diploma_five_semesters') }}" class="btn btn-card text-white">Saya Semester 5</a>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
</section>
{% include 'layouts/footer.html' %}