{% include 'layouts/header.html' %}
      <section class="h-100 w-100 bg-white" style="box-sizing: border-box">
          <div class="content-2-2 container-xxl mx-auto p-0  position-relative" style="font-family: 'Poppins', sans-serif">
            <div class="row">
              <h1>{{ prediction }}</h1>
            </div>
              <div class="mx-auto text-center">
                <h4>Prediksi Personalitymu</h4>
                <h4>Lewat Akun Twittermu</h4>
              </div>
              <hr>
              <form action="{{ url_for('twitter.twitter_predict') }}" method="post">
                  
                <div class="form-group text-center">
                    <input name="username" type="text" class="w-50" placeholder="Masukkan Username Twitter tanpa '@'" required>
                    <button type="submit" style="background-color: #27C499; border: none;" class="btn btn-primary">Prediksi Personality</button>
                </div>
              </form>
          </div>
      </section>
{% include 'layouts/footer.html' %}